EIO:CFG_1.0:6:1::
#
EIO_SIGNAL:

      -Name "DO_Mover_C1" -SignalType "DO" -Label "Mover cinta 1"

      -Name "DO_Mover_C2" -SignalType "DO" -Label "Mover cinta 2"

      -Name "DO_Mover_C3" -SignalType "DO" -Label "Mover cinta 3"

      -Name "DO_Mover_C4" -SignalType "DO" -Label "Mover cinta 4"

      -Name "DO_Mover_C5" -SignalType "DO" -Label "Mover cinta 5"

      -Name "DO_Mover_C6" -SignalType "DO" -Label "Mover cinta 6"

      -Name "DO_Gen_C1_T1" -SignalType "DO"\
      -Label "Generador de cajas tipo 1 en la cinta 1"

      -Name "DO_Gen_C1_T2" -SignalType "DO"\
      -Label "Generador de cajas tipo 1 en la cinta 2"

      -Name "DO_Gen_C1_T3" -SignalType "DO"\
      -Label "Generador de cajas tipo 1 en la cinta 3"

      -Name "DO_Gen_C2_T1" -SignalType "DO"\
      -Label "Generador de cajas tipo 2 en la cinta 1"

      -Name "DO_Gen_C2_T2" -SignalType "DO"\
      -Label "Generador de cajas tipo 2 en la cinta 2"

      -Name "DO_Gen_C2_T3" -SignalType "DO"\
      -Label "Generador de cajas tipo 2 en la cinta 3"

      -Name "DO_Gen_C3_T1" -SignalType "DO"\
      -Label "Generador de cajas tipo 3 en la cinta 1"

      -Name "DO_Gen_C3_T2" -SignalType "DO"\
      -Label "Generador de cajas tipo 3 en la cinta 2"

      -Name "DO_Gen_C3_T3" -SignalType "DO"\
      -Label "Generador de cajas tipo 3 en la cinta 3"

      -Name "DI_Sen_C1_Bajo" -SignalType "DI"\
      -Label "Detectará los 3 tipos de cajas en la cinta 1"

      -Name "DI_Sen_C1_Medio" -SignalType "DI"\
      -Label "Detectará las cajas tipo 2 y 3 en la cinta 1"

      -Name "DI_Sen_C1_Alto" -SignalType "DI"\
      -Label "Detectará las cajas tipo 3 en la cinta 1"

      -Name "DI_Sen_C2_Bajo" -SignalType "DI"\
      -Label "Detectará los 3 tipos de cajas en la cinta 2"

      -Name "DI_Sen_C2_Medio" -SignalType "DI"\
      -Label "Detectará las cajas tipo 2 y 3 en la cinta 2"

      -Name "DI_Sen_C2_Alto" -SignalType "DI"\
      -Label "Detectará las cajas tipo 3 en la cinta 2"

      -Name "DI_Sen_C3_Bajo" -SignalType "DI"\
      -Label "Detectará los 3 tipos de cajas en la cinta 3"

      -Name "DI_Sen_C3_Medio" -SignalType "DI"\
      -Label "Detectará las cajas tipo 2 y 3 en la cinta 3"

      -Name "DI_Sen_C3_Alto" -SignalType "DI"\
      -Label "Detectará las cajas tipo 3 en la cinta 3"

      -Name "DO_Eliminar_Caja" -SignalType "DO"
